@import "variables";
@import "mapas";
@import "extend";
@import "mixin";

.cabecero {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: $colorPrimario;
        text-transform: uppercase;
        margin: 1rem;
    }

    li {
        display: inline-block;

        a {
            text-decoration: none;
            color: $colorPrimario;
            text-transform: uppercase;
            margin: 1rem;

            &:hover {
                border-bottom: 1px solid $colorPrimario;
            }
        }
    }
}

body {
    background-image: url("/img/espacio3.jpg");
}
