body {
    background-image: url("/img/gifFonde.gif");
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.navbar-brand {
    margin-left: 45%;
}

h4 {
    text-align: center ;
}

a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}

img:hover{
    border: 5px solid rgba(233, 233, 233, 0.651);
}